<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcare.petcare.admin.biz.mapper.AdminBizMapper">

<!--
  역할: AdminBizMapper SQL 정의

  쿼리 id 예시
  - selectBizApplyList
  - selectBizApplyDetail
  - updateBizStatus
  - selectTalentApplyList
  - updateTalentStatus

  테이블
  - TB_BUSINESS
  - (재능나눔) 관련 테이블
-->

</mapper>
