<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcare.petcare.admin.main.mapper.AdminMainMapper">

<!--
  역할: AdminMainMapper SQL 정의

  쿼리 id 예시
  - selectDashboardSummary
  - selectMemberStats
  - selectOrderStats

  테이블
  - TB_MEMBER
  - TB_ORDER
  - TB_RESERVATION
-->

</mapper>
