<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcare.petcare.event.coupon.mapper.EventCouponMapper">

<!--
  역할: EventCouponMapper SQL 정의

  쿼리 id 예시
  - selectCouponList
  - selectMemberCoupons
  - insertMemberCoupon
  - updateCouponUsed

  테이블
  - TB_COUPON
  - TB_MEMBER_COUPON
-->

</mapper>
